<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253863792393-0pt0fq75qh9c1apk432r4sjtb9050gss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253863792393-0pt0fq75qh9c1apk432r4sjtb9050gss</string>
	<key>API_KEY</key>
	<string>AIzaSyDSj707WZcVK4Ak87XactJ8AMV2OBrtdjc</string>
	<key>GCM_SENDER_ID</key>
	<string>253863792393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastingapp1</string>
	<key>PROJECT_ID</key>
	<string>fasting-851e0</string>
	<key>STORAGE_BUCKET</key>
	<string>fasting-851e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253863792393:ios:1aa2ff12f91bcadc21cdd8</string>
</dict>
</plist>